
.cabecalho {
    background-color: green;
    color: aqua;
}
.principal {
 background-color: black;
 color: darkred;

}
.rodape {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
}
#agroo{

    width: 600px;
    
}