
.cabecalho {
    background-color: palevioletred;
    color: aqua;
}
.principal {
 background-color: lavender;
 color: darkred;
}
.rodape {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
}
#agroo{
    width: 600px;
}